.search input{
    display: inline-block;
    width: 80%;
    border: none;
    border-bottom: 1px solid;
}
.search button{
    position: relative;
    right: 10%;
    border: none;
    background-color: unset;
}


@media only screen and (max-width: 800px) {
    h1 {
        font-size: 120%;
    }

    p {
        font-size: 70%;
    }

    h2 {
        font-size: 100%;
    }

    li {
        font-size: 70%;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 100%;
    }

    p {
        font-size: 50%;
    }

    h2 {
        font-size: 80%;
    }

    li {
        font-size: 50%;
    }
}